{% extends 'partials/base.html' %}
{% block title %}Employee Page{% endblock %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employee %}
                <tr>
                    <th scope="row">
                        <a class="btn btn-info btn-sm" 
                           href="{% url 'employee-order-history' employee.id %}">
                           View Order History
                        </a>
                    </th>
                    <td>
                        <a href="{% url 'dashboard-employee-detail' employee.id %}">
                            {{ employee.username }}
                        </a>
                    </td>
                    <td>{{ employee.profile.phone }}</td>
                    <td>{{ employee.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
