{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Ordered by</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                <tr>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td>{{ order.employee.get_full_name }}</td>
                    <td>
                        <form method="POST" action="{% url 'order-action' order.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="accept" class="btn btn-success btn-sm">Accept</button>
                            <button type="submit" name="action" value="deny" class="btn btn-danger btn-sm">Deny</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
